<% provide(:title, 'All businesses') %>
<h1>All businesses</h1>
<%= link_to "Create a Business", businesses_new_path, class: "btn btn-lg btn-primary" %>

<%= will_paginate %>

<ul class="businesses">
  <%= render @businesses %>
</ul>

<%= will_paginate %>
