<h1>About</h1>
<p>Welcome to Rumordom.  The goal of this website is to improve the experiences that
     customers have with businesses.  We will not share your information, we value privacy, 
     but we believe that every experience matters, so good or bad, big or small, sign onto 
     this site and let everyone know how your recent experience was.  Remember, you can
     interact with an organization several times, but most of the time every experience is
     different, and this is why Rumordom exists to emphasize that every experience matters.
     We want to know about <strong>EVERY SINGLE EXPERIENCE</strong>, because it matters.</p>
  <p><strong>It's not a review, it's an experience.</strong></p>