<h1>Privacy Policy</h1>
<p><strong>The Privacy Policy was last updated on September 28th, 2018.</strong>  This Privacy policy is effective for all Users starting September 28th 2018.  
</br>
This Privacy Policy describes our(“Rumordom, LLC”) policies on collecting, distributing, using, or sharing Your data on the Site or with our affiliates.  When you use this Site You consent to our collection, use, and disclosure of Your information as is described in our Privacy Policy.
<br/>
</br>
<p>
1.  <strong>Your Account Information</strong></br>
If you create an account we(“Rumordom, LLC”) may store, use, and provide any information associated with that account for security purposes, advertisement purposes, and for other general purposes just to run the Site.  This information is also used for Account Recovery, Service functionality, for marketing, personalization, and for customer support.<br/></br></p>
<p>
2. <strong>Any Activity done on the Site</strong></br>
While you are using our Services, we track and store information such as IP addresses, MAC addresses, location information(Beacon, geolocation, and GPS location), and other similar activities.  We may receive and store your location data when you use our Site, even in the background, while you are using our Service for a variety of purposes.<br/></br></p>
<p>
3. <strong>Public Content provided by You</strong></br>
The information that you provide and contribute to our Service is intended for Public Consumption.  This means the information is viewable to the public, including your photos, posts, follows, profile(name, last name, address, zip code, phone number, email, etc…), and other data provided by You while using our Site.
<br/></br></p>
<p>
4. <strong>Multiple devices</strong></br>
Our Service can be accessed and used through different devices such as desktops, laptops, mobile phones, mobile tablets, tablets, and any other device with the capability of accessing a webpage.
You can Contact us regarding this policy at rumordomllc@gmail.com or at the address:</br>
Rumordom, LLC.</br>
1615 10th Ave</br>
Brooklyn NY, 11215.
<br/>
</br></p>
<p>
5. <strong>We use various amounts of information provided by You for security</strong></br>
This information is used to secure your account and to safeguard our Site as well.  Keep in mind we cannot      
guarantee the security of the account just by this means, but it is used to assist in our attempt to secure the account and the Site.  This means we use what is commercially available to us to safeguard your personal information but we cannot guarantee its absolute security.<br/></br></p>
<p>
6.  <strong>When you terminate your account we may still keep some information provided by You.</strong>
<br/></br></p>
<p>
7.  <strong>We may modify or revise this Policy at our discretion.</strong>
<br/>
</br></p>
<p>
8.  <strong>This Site is intended to be use by audiences over the age of 13.  If for whatever reason you become aware someone is using the site under this age please contact us.</strong><br/></br></p>
<p>
9. <strong>Cookies</strong></br>
We may use cookies for various Services such as, authentication, advertisement, personalization, marketing, security, compliance, analytics, service providers, and account preferences. Some of the settings for the Cookie preferences can be set through your device or browser settings, but it can affect the overall experience you have with the Site.  We also use Cookies for dealing with security threats, account recovery, and advertisements.<br/></br></p>
<p>
10. <strong>Third Parties</strong></br>
We may partner with other companies and they will receive your information as follows:</br>
Advertisers:  We may allow advertisers to use Cookies through the Service to collect some information just as we do for advertisement purposes.</br>
Analytics:   We use your information to help understand how visitors use our Service and we may share that with our partners.<br/></br></p>
<p>
11. <strong>We may modify this Policy from time to time, however You will be notified via the email provided on the account or through a message on an account registered on this Service.</strong>
</p>