<h1>Terms of Service</h1>

<p><strong>Last Updated On September 28th 2018.</strong>  These Terms of Service(“Terms”) go into effect immediately for new users that register with the site and for pre-existing accounts that are already registered on this website(“Site”).  The Terms govern your access to and use of our Services, including our website, email notifications, and ads that link to our Terms(collectively, the “Services”), and any information such as, texts, images, links, videos, or other materials that could have been downloaded, uploaded or appearing on our Site(collectively, the “Content”).  By using this Site you agree to these Terms.  Do not use this Site if you do not agree to these Terms.<br/></br></p>
<p>
1.<strong>Who is allowed to use these Services</strong></br>

You can only use the services if you agree to form a legal binding contract with Rumordom, LLC and you are in full compliance of all applicable laws and are of at least 13 years of age.  Here forth, the words “you”, or “your” shall refer to you as the user of the Site.<br/></br></p>
<p>
2. <strong>Content on the Services</strong></br>

You are responsible for Your Content that is posted on this Site.  Any postings of customer experiences or customer reviews based on business listings which are on our Site are your sole responsibility.  You assume all risks associated with the Content that is posted on this Site, including, anyone’s reliance on its truthfulness, accuracy, reliability, or quality.
You understand that you may expose yourself to a liability if the Content that you post is false, defamatory, or intentionally misleading; violates any third parties right such as, trademark infringements, copyright infringements, privacy right, patent, or any other type of proprietary right or intellectual property violations; contains any information that could be in violation of any applicable law, including any pornography, illegal hate speech, or anything else in violation of law or regulation.

You own Your Content(and your incorporated audio, photos and videos are considered part of the Content).  You understand we may remove content from our services if they are in violation of our Terms.

We(“Rumordom, LLC.”), may use your Content in different ways such as, publicly displaying it, reformatting it, and possibly incorporating it into advertisements.  You are not entitled to any compensation for such advertisements.  We also use some of the Site Content to generate two Content Feeds, which are created by Users on the website either following another User or Business listing.  This means your Content can show up on these Content Feeds by any Users that follow you.<br/></br></p>
<p>
3. <strong>Using the Site</strong></br>

You must create a User Account and provide certain information about yourself in order to access the main features of this website.  You are responsible for keeping your account password secure.  In the creation of your account we ask that all information about you is accurate to help with the credibility of you and the Site.

By agreeing to the Terms you are using the site at your own risk.  The Site can be updated, disabled, inoperable, or changed at anytime without notice or liability.  We Rumordom(“Rumordom, LLC”) can update the Terms or Services when needed at our discretion.<br/></br></p>
<p>
4. <strong>Privacy</strong></br>

Our(“Rumordom, LLC)”, Privacy Policy (https://www.rumordom.com/privacy) describes how we handle the information you provide to us when you use our Services. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States, Ireland, and/or other countries for storage, processing and use by Rumordom and its affiliates.<br/></br></p>
<p>
5. <strong>Disclaimers and Limitations of Liabilities</strong></br>

THE FOLLOWING SUBSECTIONS LIMITS THE LIABILITY OF THE RUMORDOM ENTITIES TO YOU.  THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW APPLIES TO THE SUBSECTIONS BELOW.  NOTHING HEREIN IS INTENDED TO LIMIT ANY RIGHTS YOU MAY HAVE WHICH MAY NOT BE LAWFULLY LIMITED.  IF YOU HAVE ANY QUESTIONS OR ARE UNSURE ABOUT ANY OF THE SUBSECTIONS BELOW PLEASE CONSULT A LEGAL ATTORNEY BEFORE USING OR ACCESSING THIS SITE.  BY USING OR ACCESSING THIS SITE, YOUR REPRESENT THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO THESE TERMS, INCLUDING THE SUBSECTIONS BELOW.  YOU ARE GIVING UP MANY LEGAL RIGHTS BY AGREEING TO THESE TERMS.

THIS SITE AND ITS SERVICES IS AVAILABLE TO YOU ON AN “AS IS”, “WITH ALL FAULTS” AND “AS AVAILABLE” BASIS, WITH THE UNDERSTANDING THAT THE RUMORDOM ENTITIES MAY NOT CONTROL, VET, OR MONITOR USER CONTENT.  AS A RESULT, WHEN YOU USE THIS SITE IT IS AT YOUR OWN RISK.  THE RUMORDOM ENTITIES MAKE NO PROMISES ABOUT THE RELIABILITY, ACCURACY, OR QUALITY OF THIS SITE, ITS SECURITY OR SAFETY, OR THE CONTENT THAT IS ON THE SITE.
THE RUMORDOM ENTITIES MAKE NO PROMISES OR CLAIMS ABOUT ANY THIRD PARTY DATA THAT MAY BE ON THE SITE, SUCH AS THE ADVERTISERS OR BUSINESSES LISTED ON THIS SITE OR THE SITE’S USERS.  THE RUMORDOM ENTITIES ARE NOT LIABLE TO YOU FOR ANY DAMAGE OR LOSS THAT MIGHT ARISE FROM THE THIRD PARTY OMISSIONS OR ACTIONS, SUCH AS, IF ANOTHER BUSINESS OR USERS MISUSES YOUR CONTENT OR IDENTITY OR PERSONAL DATA, OR IF YOU HAVE ANY ISSUES DUE TO A POOR EXPERIENCE WITH ANY OF THE ADVERTISERS OR BUSINESSES LISTED ON THIS SITE, OR FROM YOUR RELIANCE ON THE ACCURACY, QUALITY, OR RELIABILITY OF THE BUSINESS LISTINGS, REVIEWS, EXPERIENCES(INCLUDING THEIR CONTENT, DISPLAY, AND ORDER), OR THE METRICS THAT MAY BE MADE AVAILABLE, FOUND ON, OR USED ON THIS SITE.
THE RUMORDOM ENTITIES' MAXIMUM AGGREGATE LIABILITY TO YOU FOR LOSSES OR DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE SITE OR THESE TERMS IS LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU TO THE RUMORDOM ENTITIES IN CONNECTION WITH THE SITE IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (ii) $100.
IF YOU HAVE ISSUES OR ARE DISSATISFIED WITH THIS SITE THEN YOU AGREE THE OPTION WOULD BE TO STOP USING THIS SITE AND ITS SERVICES.
THE RUMORDOM ENTITIES ARE NOT LIABLE FOR ANY DAMAGE OR LOSS FROM SITE OPERABILITY.
THE RUMORDOM ENTITIES DISCLAIM LIABILITY FOR ANY BUSINESS INTERRUPTION, LOSS OF DATA, RELIANCE, OR REPUTATIONAL DAMAGE.
THE RUMORDOM ENTITIES DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WARRANTIES AS TO THE PRODUCTS OR SERVICES OFFERED BY BUSINESSES LISTED ON THE SITE.  RUMORDOM WILL NOT OFFER ANY TYPE OF WARRANTIES ON THIS SITE.<br/></br></p>
<p>
6. <strong>Termination</strong></br>
You can terminate your account at your discretion.  We may terminate your account if its in violation of our Terms.  We may also terminate or suspend your account without any notice and cannot be held liable for this.<br/></br></p>
<p>
7. <strong>Third parties</strong></br>
The Site may include data or links to other websites(known as “third parties”), and We do not endorse or control these third parties.  You agree we are not responsible for the reliability or Content of these third parties.<br/></br></p>
<p>
8. <strong>General</strong></br>
We change these Terms from time to time and the change is not retroactive, and the most current version of the Terms, will govern our relationship with You.
If changes are made to the Terms, we will notify you by a notification on our Site or Services or to an email associated with your account.  By continuing to use the Site the revision to the Terms become effective immediately, and you agree to be bound to the revised Terms.
 Any failure on Rumordom’s part to enforce these Terms on another User or on any other third party on our Site, does not constitute a waiver to such rights or provisions.  
We are not responsible for any Content or third party data that may be inaccurate on this Site.  We are not responsible for any User Content that is created by any User Account on this Site, whether it be a customer experience, customer review, user experience, or a business listing created by a User.
These Terms are an agreement between You and Rumordom, LLC.  1615 10th Ave, Brooklyn, NY 11215.</p>