@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// body {
//   // background-color: white;
//   // background-image:url("http://www.zingerbug.com/Backgrounds/background_images/small_light_green_bricks_seamless_pattern.gif");
//   background-image:url("https://i.imgur.com/hlhd50e.jpg");
//   // background-image:image-url("vector.jpg");
//   background-size: cover;
//   background-attachment: fixed;
//   background-position: center center;
//   background-repeat: no-repeat;
  
// }
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image:url("https://i.imgur.com/hlhd50e.jpg");
background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.main-page-wrapper{
  margin: 0 auto;
  padding-bottom: 100px;
}

h1 { 
  font-size: 4em;
  text-align: center;
  letter-spacing: -2px;
  margin-bottom: -50px;
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



/*  Header   */

header {
  max-height: 40px;
  margin-top: 3px;
  padding-top: 1px;
  border-top: 1px solid black;
}

header.navbar {
  // background-color: White;
  height: 40px;
}

.mainbar {
  text-align: center;
}

.dropdown-toggle{
  background-color: transparent;
}

header ul {
color: #3cff6d;
word-spacing: 5px;
list-style: none;
background-color: #8c1aff;
margin-left: -60px;
   li{
      background-color: #8c1aff;
      margin-top: -70px;
      margin:0 auto;
      padding: 1px;
      display:inline; 
      word-spacing: 1px;
      color: #3cff6d;
}
}

#new-business-form{
  padding-bottom: 10px;
}

#user-search-bar{
  margin-left: -70px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  
}

#top-rumordom-link{
  background-color: #8c1aff;
}

#rumordom-footer-link{
  font-weight: bold;
  text-decoration: none;
}

.dropdown-menu .divider {
  background-color: transparent;
}

.myNavbar   {
  width: 100%;
    color:#222;
 }
 
 .myNavbarz   {
    width: 100%;
    background-color: #8c1aff;
    color: #3cff6d;
    margin-top: -40px;
    border-radius: 4px;
    a {
      font-weight: bold;
      color: white;
      &:hover {
        background-color: transparent;
        color: #c7ff0a;
        &:dropdown {
          color: blue;
          background-color: #c7ff0a;
        }
      }
    }
 }
 
 .myNavbarz {
   
   li {
  
     color: #8c1aff;
     border-radius: 4px;
     
   }
   .dropdown-menu {
     background-color: #8c1aff;
   }
 }
 
 #links1 {
  margin-top: 1px;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 1px;
  font-weight: bold;
  float: left;
  &:hover {
    background-color: transparent;
    color: #c7ff0a;
    text-decoration: none;
  }
}
 
 #links  {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    background-color: transparent;
    color: #c7ff0a;
    font-weight: bold;
  }
}

 #links6 {
   
   color: #c7ff0a;
  font-weight: bold;
  &:hover {
    color: White;
    font-weight: bold;
  }
} 



#links2 {
  float: left;
  margin-top: -30px;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    background-color: transparent;
    color: #c7ff0a;
    text-decoration: none;
  }
}

#links4 {
  
  margin-left: -9px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #c7ff0a;
  letter-spacing: -1px;
  padding-top: 1px;
  font-weight: bold;
  padding-left: 1px;
  &:hover {
    background-color: transparent;
    color: #c7ff0a;
    text-decoration: none;
  }
}



/* footer */

footer.navbar {
  background-color: #8c1aff;
  position: fixed;
  bottom: 0;
  width: 970px;
}

footer ul {
padding-left: 10px;
text-align: left;
word-spacing: 5px;
list-style: none;
background-color: #8c1aff;
margin-left: -10px;
   li{
      background-color: #8c1aff;
      margin-top: -70px;
      margin:0 auto; 
      display:inline; 
      word-spacing: 1px;
      color: white;
}
}

footer {
  margin-top: 25px;
  padding-top: 1px;
  border-top: 1px solid black;
  color: white;
  a {
    color: white;
    &:hover {
      background-color: transparent;
      color: #c7ff0a;
    }
  }
  small {
    float: left;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 5px;
    }
  }
}

.footer-wrapper {
  width: 100%;
  
  
}

.footer nav {
  margin-right: 10px;
}
.inner-container {
  margin: 0 9em 1.5em 9em;
  text-align: left;
  margin-left: 10px;
  background-color: #8c1aff;
  margin-top: -4px
}

.body-container {
  
  margin-top: 4em;
  
  text-align: center;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */



aside {
  section.user_info {
    margin-top: 10px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* sidebar */

aside {
  section.business_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

aside {
  section.business_infos {
    margin-top: 200px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 1px;
      margin-top: 0px;
    }
  }
  
  p {
    font-size: 1.4em;
      text-align: left;
      line-height: 10px;
      margin-bottom: 40px;
      padding-top: 40px;
  }
  
}


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.businesses {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* universal */


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.description {
  padding-top: 20px;
  font-size: 1.5em;
  color: $gray-light;
}


.experience {
  padding-top: 40px;
  font-color: black;
}

.searching {
  padding-top: 40px;
  margin-top: 40px;
  font-color: black;
}

.container, .page-content {
  padding-top: 40px;
  
}



/* microposts */

.reviews {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


#business stats

.statsz {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.business_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.businesses.followz {
  padding: 0;
}

#experiences-images img{
  width: 150px;
}

#experiences-images img:hover{
  width: 350px;
  
}

/* Experiences */

.experiences {
  list-style: none;
  padding: 0;
  padding-bottom: 5px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  
  .comment {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.host {
  font-size: 1.5em;
  font-weight: bold;
}

.span2 {
  width: 1000px;
  height: 40px;
  padding-top: 10px;
  margin: 0px auto;
  
}

.search-form {
  height: 35px;
  position: relative;
  padding: 1px 40px;
  background: rgba( 50, 50, 50, 0.2);
  border: 0px solid #dbdbdb;
  background-color: transparent;
}

.before-buttons {
  width: 600px;
}
.buttons {
  position: relative;
  width: 200px;
  padding: 6px 15px;
  margin-left: 600px;
  margin-top:  -55px;
  background-color: transparent;
  color: #207cca;
  font-size: 1.1em;
  font-weight: bold;
}

.stats {
  .btn-primary {
    background-color: #8c1aff;
    color: white;
  }
}
.btn-primary {
  background-color: #8c1aff;
  font-weight: bold;
}

.col-md-8 {
  margin-top: 15px;
  .business_mobile {
    display: none;
  }
  
}


.search_results {
  padding-top: 20px;
  padding-left: 5px;
}

.main_message {
  text-align: center;
  font-size: 4em;
  font-weight: 800px;
  
}

#main-two-buttons{
  margin-top: 10px;
}

.mapx {
  padding-right: 100px;
}

#map{
  width: 500px;
  height: 500px;
  float: right;
}



@media (min-width: 1200px) {
  .container{
  width: 970px;
}
.greeting-message{
  width: 800px;
}

}
@media (min-width: 1000px) {
  .container{
  width: 970px;
}
.greeting-message{
  width: 800px;
}
#main-footer-bar{
  margin-left: -15px;
  margin-bottom: 0px;
}
.business_info{
  width: 300px;
}
.mapx{
  padding-right: 100px;
}
#map {
  width: 400px;
  height: 400px;
}
}

@media (min-width: 800px){
  .container{
    width: 970px;
  }
  .greeting-message{
  width: 600px;
}
#main-footer-bar{
  margin-left: -15px;
  margin-bottom: 0px;
}
.business_info{
  width: 300px;
}
.mapx{
  padding-right: 100px;
}
#map {
  width: 500px;
  height: 500px;
}
}

@media only screen and (max-width: 800px) { 
    body {
      width: 100%;
      
  // background-image:image-url("vector.jpg");
 
  background-attachment: initial;
  
        // background-color: white;
        // overflow-x: hidden !important;
    }
    header {
      width: 100%;
      height: 30px;
      background-color: #8c1aff;
    }
    header.navbar {
  background-color: #8c1aff;
  height: 30px;
}
    
  #user-search-bar {
    margin-left: -56px;
}

    .myNavbar {
      width: 100%;
      height: 30px;
      margin-right: 0px;
      background-color: #8c1aff;
      //new
      padding-left: 0px;
      nav {
        
        ul {
          float: left;
          
          li {
            float: left;
            
          }
        }
      }
      .container {
        width: 800px;
        height: 30px;
        background-color: #8c1aff;
        float: left;
      }
    }
    .myNavbarz {
      height: -30px;
      width: 800px;
      margin-right: 0px;
      padding-left: 5px;
      padding-right: 5px;
      li {
        width: 100px;
        float: left;
      }
      .dropdown-menu li {
        background-color: #8c1aff;
      }
     
    }
    
  .span2 {
    max-width: 600px;
    float: left;
    padding-top: 15px;
    .search-form {
      width: 300px;
      padding-left: 10px;
      .before-buttons {
        max-width: 600px;
      }
      .location_search {
        width: 296px;
      }
    }
  }
  .footer-wrappter {
    float: left;
  }
  
  .buttons {
  position: left;
  float: left;
  width: 100px;
  padding: 3px 4px;
  margin-left: 200px;
  margin-top:  -50px;
  background-color: transparent;
  color: #207cca;
  font-size: .3em;
  font-weight: bold;
}

  .col-md-4 .user_info{
    padding-left: 1px;
  }
  
  .col-md-8 {
    padding-top: 15px;
    .business_mobile {
      display: inline-block;
      .business_pictures {
       display: none;
      }
    }
    .experience_button {
      width: 300px;
    .btn.btn-lg.btn-primary {
      width: 300px;
      font-size: 1em;
    }
    }
    .user_info {
      padding-top: 35px;
    }
    .users {
      padding-top: 35px;
    }
  }
  #main-footer-bar{
  margin-left: -15px;
  margin-bottom: 0px;
}

.business_info{
  width: 300px;
}

.mapx{
  padding-right: 0px;
  padding-left: 30px;
}
#map {
  width: 400px;
  height: 400px;
  float: none;
}


}

@media only screen and (max-width: 600px) {
    body {
      width: 100%;
        // background-color: white;
        
  // background-image:image-url("vector.jpg");
  
  background-attachment: initial;
 
    }
    header {
      width: 600px;
      height: 40px;
    }
    .myNavbar {
      width: 600px;
      height: 40px;
      margin-right: 0px;
      background-color: #8c1aff;
      nav {
        width: 400px;
        background-color: #8c1aff;
      }
      .container {
        width: 600px;
        height: 35px;
        background-color: #8c1aff;
      }
    }
    .myNavbarz {
      width: 400px;
      margin-right: 0px;
      padding-left: 5px;
      padding-right: 5px;
      li {
        width: 100px;
        float: left;
      }
    }
    

  .span2 {
    max-width: 450px;
    float: left;
    padding-top: 15px;
    .search-form {
      width: 200px;
      padding-left: 10px;
      .before-buttons {
        max-width: 450px;
      }
    }
  }
  .buttons {
  position: left;
  float: left;
  width: 100px;
  padding: 3px 4px;
  margin-left: 200px;
  margin-top:  -50px;
  background-color: transparent;
  color: #207cca;
  font-size: .3em;
  font-weight: bold;
}

  .col-md-4 {
    
  }
  
  .col-md-8 {
    padding-top: 15px;
    h3 {
      font-size: 1.57em;
    }
  }

  .business-show-all-pictures{
  display: none;
}

.statsz{
  margin-top: -5px;
}
.mapx {
  padding-left: 30px;
}
#map {
  margin-top: -30px;
  width: 300px;
  height: 200px;
  float: none;
}

}

@media only screen and (max-width: 480px) {

  body {
      width: 100%;
        // background-color: white;
       
  // background-image:image-url("vector.jpg");
  
  background-attachment: initial;
 
    }
    header {
      width: 480px;
      height: 40px;
    }
    .myNavbar {
      width: 480px;
      height: 40px;
      margin-right: 0px;
      background-color: #8c1aff;
      nav {
        width: 400px;
        background-color: #8c1aff;
      }
      .container {
        width: 480px;
        height: 35px;
        background-color: #8c1aff;
        
      }
    }
    .myNavbarz {
      width: 400px;
      margin-right: 0px;
      padding-left: 5px;
      padding-right: 5px;
      li {
        width: 100px;
        float: left;
      }
    }
    

  .span2 {
    width: 300px;
    float: left;
    padding-top: 15px;
    .search-form {
      width: 200px;
      padding-left: 10px;
      .before-buttons {
        width: 296px;
      }
    }
  }
  .buttons {
  position: left;
  float: left;
  width: 100px;
  padding: 3px 4px;
  margin-left: 200px;
  margin-top:  -50px;
  background-color: transparent;
  color: #207cca;
  font-size: .3em;
  font-weight: bold;
}

  .col-md-4 {
    
  }
  
  .col-md-8 {
    padding-top: 15px;
    h3 {
      font-size: 1.57em;
    }
  }

}

