// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_relationshipz .btn {
    background-color: #cccccc;
    font-weight: bold;
    color: black;
}

.edit_relationship .btn {
    background-color:  #cccccc;
    color: black;
    font-weight: bold;
}