// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_relationshipz .btn {
    background-color: #cccccc;
    font-weight: bold;
    color: black;
}

.edit_relationship .btn {
    background-color:  #cccccc;
    color: black;
    font-weight: bold;
}

.add-experience-photo{
        background-color: white;
    width: 300px;
    border: 1px solid #ccc;
    /* padding-top: 20px; */
    margin-top: 20px;
    padding: 10px;
    color: black;
    border-radius: 4px;
}

#experience_picture {
    padding-top: 10px;
}

.picture .file {
    border: 2px solid black;
    
}