<footer class="navbar navbar-bottom myNavbar">
  <div class="footer-wrapper">
    <div class="inner-container">
  <nav>
    <ul>
      <li><%= link_to "Rumordom", root_path %></li>
        <li><%= link_to "About", about_path, id: "links" %></li>
        <li><%= link_to "Contact", contact_path, id: "links" %></li>
    </ul>
  </nav>
  </div>
  </div>
</footer>